.movie-container {
	position: relative;
	margin-right: 20px;
	cursor: pointer;
}

.movie-container::after {
	/* display: none; */
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: var(--movieAfterBackgroundColor);
	z-index: 1;
}

.poster-size,
.backdrop-size {
	background-size: cover;
}
.poster-size:hover {
	background-image: none;
}

.backdrop-size {
	width: 300px;
	height: 200px;
}
.poster-size {
	width: 200px;
	height: 300px;
}

.movie-text-container {
	height: 100%;
	position: relative;
	padding: 20px;
	z-index: 2;
}
.movie-title {
	color: white;
	font-weight: 400;
	margin-bottom: 15px;
}

.movie-vote-average {
	margin: 10px 0;
	color: var(--popularityColor);
}

.movie-genres-list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}
.movie-genre {
	color: var(--movieDescriptionColor);
	font-weight: 300;
	margin-right: 10px;
}
